.forma button {
    font-style: normal;
}

.forma__label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-right: 50px;
}

.forma__input {
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000000;
}

.forma__input::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    color: #131313;
}

.forma__input-black {
    background-color: black;
    border-bottom: 1px solid #5c5c5c;
}

.forma__input-black::placeholder {
    color: white;
}

.forma__label-white {
    color: rgba(54, 54, 54, 0.5);
}

.forma__label-black {
    color: rgba(255, 255, 255, 0.5);
}


@media screen and (max-width: 568px){
    .forma__label{
        margin-top: 60px;
    }
    .forma__input {
        background-color: #131313;
        border-bottom: 1px solid #fff;
        color: #fff;
        margin-top: 0px;
        padding: 8px 0px;
        /*height: 40px;*/
    }
    .forma__input::placeholder{
        color: #fff;
    }
    .online-form_button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,50%);
        width: 300px;

    }

}

