.repair {
    margin-bottom: 180px;
}

.repair-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.repair-types {
    display: flex;
    width: 90%;
}

.repair-types__content {
    background-color: white;
    padding: 25px 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding-bottom: 0;
}

.repair-types__item button {
    padding: 17px 21px;
    font-family: 'Yeseva One';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.repair-types__content h4 {
    text-transform: none;
    margin-bottom: 13px;
}

.repair-types__content ul {
    list-style: disc;
    line-height: 2;
    padding-bottom: 80px;
    padding-left: 18px;
    color: rgba(54, 54, 54, 0.5);
    margin-bottom: -10px;
}

.repair-types__item button {
    margin-top: -80px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.repair-types__item {
    width: 33%;
    padding: 250px 30px 10px 30px;
    margin-right: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}

.repair-types__item-1 {
    background-image: url(../../img/slide1.png);
}

.repair-types__item-2 {
    background-image: url(../../img/slide2.png);
}

.repair-types__item-3 {
    background-image: url(../../img/slide3.png);
}

.repair-container-image {
    background-image: url("../../img/screen3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.repair-feedback {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 100px;
    margin-top: 120px;
}

.repair-feedback__features {
    width: 50%;
    padding-left: 120px;
}

.repair-feedback__item:not(:last-child) {
    margin-bottom: 120px;
}

.repair-feedback__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.repair-feedback__item p {
    line-height: 1.15;
}

.repair-feedback__circle {
    position: relative;
    border-radius: 50%;
    border: 10px solid white;
    display: inline-block;
    padding: 0;
    margin-right: 10px;
    line-height: 65px;
    width: 65px;
    height: 65px;
}

.repair-feedback__circle-borderless {
    border: none;
    width: 72px;
    height: 72px;
}

.repair-feedback__circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.repair-feedback__circle span {
    font-family: 'Yeseva One';
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.repair-feedback__form {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 30px 55px;
}

.repair-feedback__subtitle {
    text-align: center;
    color: white;
}

.repair-feedback__form label {
    margin-top: 50px;
}

.repair-feedback__form .first-checkbox {
    margin-top: 20px;
}

.repair-feedback__form button {
    display:block;
    float:right;
    text-align:center;
    font-style: normal;
    margin-top: 50px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 25px 22px;
    margin-left: 300px;
}

.repair-feedback__help {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 40px;
}

.repair-feedback__help-wrapper {
    display: flex;
    align-items: center;
}

.realize{
  display: none;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      .repair-types {
          flex-direction: column;
      }

      .repair-types__item {
          width: 100%;
      }

      .repair-feedback__features,
      .repair-feedback__help {
          display: none;
      }

      .repair-feedback__form {
          width: 100%;
      }

      .repair-feedback {
          padding-left: 0;
      }

      .repair-feedback__form button {
          margin: 0;
      }
      .repair-types {
        display: flex;
        width: 100%;
        align-items: flex-start;
      }
      .repair-types__content {
        margin-left: 0;
        margin-right: auto;
      }
      .repair-types__item {
        padding: 180px 60px 10px 0px;
        margin-bottom: 60px;
      }
      .repair-types__content ul{
        font-size: 13px;
        line-height: 169.8%;
      }
      .project-slider.project-slider_two{
        width: 100%;
        /*position: absolute;*/
      }
      .repair-feedback__form{
        margin-top: -100px;
      }
      .realize{
        display: block;
      }
      .repair {
          margin-bottom: 50px;
      }
      .repair-feedback__form {
          background-color: #131313;
      }
      .repair-feedback__form .first-checkbox {
          margin-top: 20px;
          margin-bottom: 30px;
      }
      .subtitle.repair-feedback__subtitle{
          display: none;
      }
}


